/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.App {
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.col-md-5 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-2 {
  overflow: hidden;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.p {
  display: flex;
}

/* pflevy */
.appContainer {
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .appContainer {
    flex-flow: column;
  }
  .appContainer img {
    margin-right: 0px !important;
  }

  .infoText {
    font-size: 100%;
  }
}

.PanIcon {
  display: flex;
  align-items: center;
}

.appContainer img {
  margin-right: 20px;
  margin-bottom: 30px;
  width: 13em;
}

.content {
  display: flex;
}

.infoText {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.infoText {
  font-size: 60%;
}

.relButton{
  position: absolute;
  right: 20px;
  top: 20px;
}